nav.navbar.navbar-inverse
  // Element Inseted Styles
  style
    .navbar {
        border-radius: 0;
    }
  .container-fluid
    .navbar-header
      button(
        type="button"
        class="navbar-toggle collapsed rv"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-2"
      )
        span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand.set-font-comfortaa.rv(href="index.html") I'm shota!

    .collapse.navbar-collapse(id="bs-example-navbar-collapse-2")
      ul.nav.navbar-nav
        li.active.rv
          a(href="http://twitter.com/SHOTASTAGE/") Twitter
            span.sr-only (current)
        li.rv
          a(href="https://www.facebook.com/shota.shimazu.5") Facebook
        li.dropdown.rv
          a(
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-expanded="false"
          ) Links
            span.caret
          ul.dropdown-menu(role="menu")
            li
              a(href="https://www.instagram.com/shota_elstd/") Instagram
            li
              a(href="https://vine.co/u/1003237590335479808") Vine
            li.divider
            li
              a(href="contact2me.html") Contact
      form.navbar-form.navbar-left.rv(role="search")
        .form-group
          input(type="text" class="form-control" placeholder="Search")
        button(type="submit" class="btn btn-info rv") Submit
      ul.nav.navbar-nav.navbar-right
        li.rv
          a(href="https://github.com/shotastage/") Github
    
